<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hi!!</title>
</head>
<body>
    <!-- HEADER -->
    <div th:insert="common/header.html" id="header"></div>

    <table border="1">
	    <tr>
	        <td>ID</td>
	        <td>NAME</td>
	        <td>DEPNO</td>
	    </tr>
	    <tr th:each="emp : ${empList}">
	        <td th:text="${emp.id}"></td>
	        <td th:text="${emp.name}">Doc</td>
	        <td th:text="${emp.dep_no}"></td>
	    </tr>
	</table>

    <!-- FOOTER -->
    <div th:insert="common/footer.html" id="footer"></div>
</body>
</html>